body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.accomodationsLink {
    border-top: 2px solid #0065FC;
    padding-top: 23px;
}

.activitiesLink {
    padding-top: 25px;
}

.signUp {
    margin-top: 25px;
}

nav li a {
    text-decoration: none;
}

nav li {
    color: #0065FC;
    margin: 0 30px;
}

.midul {
    display: none;
}

.secul {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

header h4 {
    display: flex;
    justify-content: center;
}

header p {
    display: flex;
    justify-content: center;
}

#Filters {
    margin-top: 12px;
}

.holder {
    display: flex;
    justify-content: center;
}

header .map {
    background-color: #F2F2F2;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input[type=search] {
    width: 200px;
    font-size: 95%;
    border: 1px solid;
    box-sizing: border-box;
}

header button {
    margin: 0px;
    color: white;
    background-color: blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
}

header ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

header li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header .fa-border {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: relative;
    right: 10px;
    padding: .2em 0.40em 0.15em;
}

header .fa-info-circle{
    color: #0065FC;
    margin-right: 20px;
}

.circle {
    border: 2px solid #F2F2F2;
    border-left-width: 5px;
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
    border-top-left-radius: 20px 40%;
    border-bottom-left-radius: 20px 40%;
    height: 36px;
}

.circle p {
    margin-right: 12px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    max-width: 1089px;
    margin: 10px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 30px;;
}

.left div {
    flex-wrap: wrap;
}

.left h3 {
    padding: 20px;
    display: block;
}

.left h4 {
    padding: 20px;
}

.left .a2 {
    display: flex;
    justify-content: space-evenly;
}

.left figure {
    margin: 0px 5px 10px 5px;
    background-color: white;
    border: 4px solid white;
}

.left img {
    width: 200px;
    min-width: 200px;
    max-height: 130px;
    min-height: 130px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

.left figcaption {
    line-height: 1.5em;
    margin-left: 8px;
}

.right {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 0 20px;
    border-radius: 30px;
}

.right div {
    display: flex;
    width: 100%;
}

.right h3 {
    padding: 20px;
    justify-content: flex-start;
    width: 100%;
}

.fa-chart-line {
    float: right;
}

.right .B2 {
    flex-direction: column;
    justify-content: space-evenly;
}

.right figure {
    padding: 0px;
    margin: 5px;
    display: flex;
    background-color: white;
    border: 4px solid white;
    height: 120px;
    margin-bottom: 30px;
}

.right img {
    width: 54%;
    max-width: 150px;
    min-width: 150px;
    max-height: 120px;
    min-height: 120px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

.right figcaption {
    margin-left: 10px;
    align-self: center;
}

.bottom h3 {
    padding: 40px 0px 0px 40px;
}

.bottom .c1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom figure {
    display: flex;
    flex-direction: column;
}

.bottom img {
    max-height: 22em;
    max-width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

.bottom figcaption {
    border: 3px solid white;
    border-radius: 0px 0px 30px 30px;
    padding: 15px;
}

footer {
    display: block;
    background-color: #F2F2F2;
    padding: 10px;
    margin-top: 10px;
}

.list1 {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    color: #0065FC;
}

figure {
    box-shadow: 0px 0px 5px grey;
    border-radius: 30px;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 1865px){ 

    .top {
        justify-content: center;
    }

    .right {
        margin: 0;
        max-width: 100%;
        order: 1;
        display: flex;
        padding: 0px;
        width: 1115px;
    }

    .right .B2 {
        flex-direction: row;
        padding: 0px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .right .B2 figure {
        max-width: 320px;
        min-width: 288px;
    }

    .left {
        max-width: 100%;
        justify-content: center;
        order: 2;
        width: 1115px;
    }
    
    .left .a2 {
        max-width: 1089px;
    }

}

@media screen and (max-width: 1124px) {
    .B2 figure {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 730px) and (min-width: 517px){
    .left div {
        margin: 0px;
        margin-top: 15px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 516px) {
    .left {
        background-color: white;
    }
    .right {
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: white;
        font-family: 'Raleway', sans-serif;
        padding: 0px;
    }

    nav ul {
        padding: 0px;
    }

    header h4 {
        justify-content: flex-start;
    }

    header p {
        justify-content: flex-start;
    }

    header div {
        margin-left: 20px;
    }

    header ul {
        justify-content: flex-start;
    }

    header li {
        margin-right: 10px;
    }

    .circle {
        margin: 3px;
    }

    .holder {
        justify-content: flex-start;
        margin: 0px;
    }

    header ul :nth-child(3) {
        order: 3;
    }

    header ul :nth-child(4){
        order: 2;
    }

    header ul :nth-child(5) {
        order: 4;
    }

    .left {
        justify-content: flex-start;
    }

    .left h3 {
        padding: 0;
        justify-content: flex-start;
    }

    .left h4 {
        padding: 0px;
    }

    .left div {
        margin: 10px;
    }


    
    figcaption p {
        margin: 0px;
    }

    .firul {
        display: none;
    }

    .midul {
        display: flex;
        align-self: center;
    }

    .secul {
        display: flex;
        text-align: center;
    }

    .insec {
        flex: 1;
    }

    .insec2 {
        flex: 1;
    }
    
    a {
        text-decoration: none
    }

    .list1 {
        flex-direction: column;
    }

    .rightpop h3 {
        padding: 0 20px;
    }

    .bottom h3 {
        padding: 0px 0px 0px 30px;
    }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    .container {
        display: flex;
        justify-content: center;
    }
}