nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav div {
    margin: 0 20px 0 20px;
}

nav div a {
    text-decoration: none;
}

.logo {
    flex: auto;
    position: sticky;
    top: 0;
}

header {
    width: 100%;
    margin-left: 30px;
}

.borders {
    display: flex;
    font-size: 20px;
}

.borders div {
    margin-right: 60px;
    padding: 24px;
}

.fir-sec {
    display: flex;
    margin-left: 30px;
    margin-right: 20px;
    height: 600px;
}

.left {
    background-color: silver;
    border-radius: 10px;
    opacity: 0.7;
    width: 60%;
    height: 80%;
    margin-right: 10px;
}

.left h3 {
    margin-left: 30px;
}

.left div {
    display: flex;
    flex-wrap: wrap;
}

.left figure {
    width: 20%;
    border: 3px solid white;
}

.left figure img {
    display: block;
    width: 100%;
}








.right {
    background-color: thistle;
    margin-left: 20px;
    border-radius: 10px;
    opacity: 0.7;
    width: 40%;
    height: 80%;
}

.right h3 {
    margin-left: 30px;
}

.right div {
    display: flex;
    margin-left: 20px;
    background-color: turquoise;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.right div img {
    width: 30%;
}