nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav div {
    margin: 0 20px 0 20px;
}

nav div a {
    text-decoration: none;
}

.logo {
    flex: auto;
    position: sticky;
    top: 0;
}

header {
    width: 100%;
    margin-left: 30px;
}

.borders {
    display: flex;
    font-size: 20px;
}

.borders div {
    margin-right: 60px;
    padding: 24px;
}

